<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Positive Tests Suite">
	<test name="Positive Tests">
		<classes>
			<class
				name="com.herokuapp.restfulbookerassignment.CreateBookingTests" />
			<class name="com.herokuapp.restfulbookerassignment.GetBookingTests" />
			<class
				name="com.herokuapp.restfulbookerassignment.PartialUpdateBookingTests" />
			<class
				name="com.herokuapp.restfulbookerassignment.UpdateBookingTests" />
			<class
				name="com.herokuapp.restfulbookerassignment.DeleteBookingTests" />
		</classes>
	</test>
</suite>

<!--for possible addition of negative testing-->
<!--<suite name="Negative Tests Suite">
	<test name="Negative Tests">
		<groups>
			<run>
				<include name="negativeTests" />
			</run>
		</groups>
		<classes>
			<class
				name="com.herokuapp.restfulbookerassignment.CreateBookingTests">
				<methods>
					<include name="createBookingNegative" />
				</methods>
			</class>
		</classes>
	</test>
</suite>-->
