<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Positive Tests Suite">
	<test name="Positive Tests">
		<groups>
			<run>
				<exclude name="negativeTests"/>
			</run>
		</groups>
		<classes>
			<class
				name="com.herokuapp.restfulbookerassignment.CreateBookingTests" />
			<class name="com.herokuapp.restfulbookerassignment.GetBookingTests" />
			<class
				name="com.herokuapp.restfulbookerassignment.PartialUpdateBookingTests" />
			<class
				name="com.herokuapp.restfulbookerassignment.UpdateBookingTests" />
			<class
				name="com.herokuapp.restfulbookerassignment.DeleteBookingTests" />
		</classes>
	</test>
</suite>
